*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
 }

body {
	background: #E9E9E9;
	padding-top: 70px;
	font-family: 'Alef', sans-serif;
}

h4 {
	color: steelblue;
	margin-top: 20px;
	margin-bottom: 5px;
}



a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: none;
	color: inherit;
}

.he-text-container {
	max-width: 550px;
	margin: 0 auto;
	padding: 2% 4%;
	background: cornsilk;
	font-size: 12px;
}

.he-text {
	font-size: 1.6em;
}

.first-word {
	line-height: 1.2em;
	font-size: 2em;
	color: tomato;
}

.first-letter {
	color: steelblue;
	font-size: 1.3em;
	margin-left: 5px;
}

.ashrei p{
	line-height: 1.6em;
}

.source {
	font-size: .8em;
	font-style: italic;
	color: #505050;
}

.response {
	color: darkcyan;
}

.special-inline, .special {
	color: gold;
	background: #8A8787;
	padding: .5%;
	font-size: .8em;
	border-radius: 3px;
}

.special {
	padding: 1% 3%;
	font-size: 1.2em;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px	;
}

.intro, .inline-instruction {
	color: coral;
	font-style: italic;
	display: block;
	font-size: .7em;
}

.inline-instruction {
	display: inline-block;
	margin-left: 5px;
}

.expand {
	color: gold;
	margin: 0;
	cursor: pointer;
}
.expand + p{
	margin-top: 10px;
	display: none;
}

.smaller {
	font-size: .8em;
}

.indent {
	margin-right: 20px;
}

.avinu .intro {
	margin-top: 10px;
}

/************
Footer
*************/

.footer {
	background: #404040;
	padding: 3%;
	color: ghostwhite;
}

.teffilot-links:after {
	clear: both;
	content: '';
}

.teffilot-links h2 {
	text-align: left;
	margin-right: 40px;
}

.footer-links {
	list-style: none;
}

.footer-links ul {
	text-align: right;
	-webkit-padding-start: 0;
}

.footer-links li {
	margin: 10% 0;
	padding: 5% 3%;
	text-align: right;

}

.footer-links li {
	color: steelblue;
	background: cornsilk;
	text-align: center;
	font-weight: 800;
	border-radius: 3px;
	-webkit-transition: .3s all ease;
}

.footer-links li:hover {
	color: cornsilk;
	background: steelblue;
}

.footer-links a {
	width: 100%;
	padding: 2% 15%;
}

.email {
	color: cornsilk;
}




/************
MEDIA QUERIES
*************/

@media screen and (min-width: 500px) {
	.he-text-container {
		font-size: 14px;
	}

	.special {
		margin-right: 35px;
		margin-left: 35px;
}

	.teffilot-links h2{
		text-align: right;
	}
}